In [61]:
# Add the Pandas dependency

import pandas as pd

# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the school data file and store it in a Pandas Dataframe

school_data_df = pd.read_csv(school_data_to_load)

school_data_df

# Read the student data file and store it in a Pandas Dataframe

student_data_df = pd.read_csv(student_data_to_load)

student_data_df.head()

# Determine if there are any missing values in the school data.
school_data_df.count()

# Determine if there are any missing values in the student data.
student_data_df.count()

# Determine if there are any missing values in the school data.
school_data_df.isnull()

# Determine if there are any missing values in the student data.
student_data_df.isnull().sum()

# Determine data types for the school Dataframe
school_data_df.dtypes

# Determine data types for the sstudent Dataframe
student_data_df.dtypes

prefixes_suffixes = ["Dr.", "Mr.", "Ms.", "Mrs.", "Miss.", "MD", "DDS", "DVM", "PhD"]

for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "")

school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

student_count = school_data_complete_df.count()
student_count
school_data_complete_df["Student ID"].count()

school_count = school_data_df["school_name"].count()
school_count

school_count2 = school_data_complete_df["school_name"].unique()
school_count2

total_budget = school_data_complete_df["budget"].sum()
total_budget

total_budget = school_data_df["budget"].sum()
total_budget

average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

passing_math_count = passing_math["student_name"].count()
passing_reading_count = passing_reading["student_name"].count()

print(passing_math_count)
print(passing_reading_count)

student_count = school_data_complete_df["Student ID"].count()
student_count

passing_math_percentage = passing_math_count/float(student_count)*100
passing_reading_percentage = passing_reading_count/float(student_count)*100

print(passing_math_percentage)
print(passing_reading_percentage)

passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) &
                                              (school_data_complete_df["reading_score"] >= 70)]

overall_passing_math_reading_count = passing_math_reading.student_name.count()
overall_passing_percentage = overall_passing_math_reading_count/student_count*100

overall_passing_percentage


district_summary_df = pd.DataFrame(
        [{"Total Schools": school_count,
        "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
          "% Passing Reading": passing_reading_percentage,
          "% Overall Passing": overall_passing_percentage}])

district_summary_df

def passing_math_percent(passing_math_count, student_count):
    return passing_math_count/float(student_count)*100

passing_math_percent(passing_math_count, student_count)


district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Students"]

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Total Budget"]

district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

district_summary_df

# new_column_order = ["column2", "column4", "column1"]
# df = df[new_column_order]

new_column_order = ["Total Schools", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score", 
                    "% Passing Math", "% Passing Reading", "% Overall Passing"]

district_summary_df = district_summary_df[new_column_order]
district_summary_df

per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

df = pd.DataFrame(per_school_types)
df

per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

per_school_capita = per_school_budget/ per_school_counts
per_school_capita

student_school_math = student_data_df.set_index(["school_name"])["math_score"]
student_school_math

per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

per_school_passing_math = per_school_passing_math/per_school_counts*100
per_school_passing_reading = per_school_passing_reading/per_school_counts*100

per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) &
                                                  (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]
per_overall_passing_percentage = per_passing_math_reading/per_school_counts *100
per_overall_passing_percentage


per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score":per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})

per_school_summary_df.head()

per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

per_school_summary_df.head()

new_column_order = ["School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score",
                   "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]
per_school_summary_df = per_school_summary_df[new_column_order]

per_school_summary_df

C:\Users\brand\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:42: FutureWarning: The default value of regex will change from True to False in a future version.

29370
33610
74.9808526933878
85.80546336482001

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333